<div class="w-full py-8 bg-[#f8f9fa]" id="apie-masazuotoja">
    <div class="container flex flex-col items-center gap-16 mx-auto my-32">
        <div class="grid w-full grid-cols-1 gap-32 lg:grid-cols-2">
            <div class="flex flex-col gap-16">
                <div class="flex flex-col gap-2 text-center lg:text-start">
                    <h2 class="text-3xl font-extrabold md:text-5xl text-dark-grey-900 font-display mb-2">
                        Apie masažų meistrą
                    </h2>
                    <p class="text-base font-medium leading-7 text-dark-grey-600">
                        Deimantas Demenis — buvęs ilgametis krepšinio klubo „Žalgirio“
                        masažuotojas, dabar gydantis savo masažais privačių klientų kūną
                        ir sielą
                    </p>
                </div>
            <div class="grid w-full grid-cols-1 md:grid-cols-2 gap-y-16 gap-x-10">
                <div class="flex flex-col md:items-start items-center gap-1">
                    <h3 class="text-4xl font-extrabold leading-tight text-purple-blue-500 font-display">
                        25+
                    </h3>
                    <h3 class="text-base font-bold leading-tight text-dark-grey-900 font-display mb-2">
                        metai patirties
                    </h3>
                    <p class="text-base leading-7 text-dark-grey-600">
                        Virš 25+ metų tobulina savo unikalią masažų metodiką
                    </p>
                </div>
                <div class="flex flex-col md:items-start items-center gap-1">
                    <h3 class="text-4xl font-extrabold leading-tight text-purple-blue-500 font-display">
                        5,000+
                    </h3>
                    <h3 class="text-base font-bold leading-tight text-dark-grey-900 font-display mb-2">
                        išmasažuotų žmonių
                    </h3>
                    <p class="text-base leading-7 text-dark-grey-600">
                        Klientai — nuo paprastų iki garsiausių Lietuvos žmonių
                    </p>
                </div>
                <div class="flex flex-col md:items-start items-center gap-1">
                    <h3 class="text-4xl font-extrabold leading-tight text-purple-blue-500 font-display">
                        20,000+
                    </h3>
                    <h3 class="text-base font-bold leading-tight text-dark-grey-900 font-display mb-2">
                        atliktų unikalių masažų
                    </h3>
                    <p class="text-base leading-7 text-dark-grey-600">
                        Kuklus meistras, nustojęs skaičiuoti po 200-ojo masažo
                    </p>
                </div>
                <div class="flex flex-col md:items-start items-center gap-1">
                    <h3 class="text-4xl font-extrabold leading-tight text-purple-blue-500 font-display">
                        <span id="countto4"></span>1999-ųjų
                    </h3>
                    <h3 class="text-base font-bold leading-tight text-dark-grey-900 font-display mb-2">
                        Eurolygos čempionas
                    </h3>
                    <p class="text-base leading-7 text-dark-grey-600">
                        Finale gelbėjo savo masažu Tyusą Edney, kai jam sutraukė presą
                    </p>
                </div>
                <div class="flex flex-col md:items-start items-center gap-1">
                    <h3 class="text-4xl font-extrabold leading-tight text-purple-blue-500 font-display">
                        Nuo €49
                    </h3>
                    <h3 class="text-base font-bold leading-tight text-dark-grey-900 font-display mb-2">
                        įvadinio masažo kaina
                    </h3>
                    <p class="text-base leading-7 text-dark-grey-600">
                        Čempioniškos kokybės masažai už prieinamą kainą jau nuo €49
                    </p>
                </div>
                <div class="flex flex-col md:items-start items-center gap-1">
                    <h3 class="text-4xl font-extrabold leading-tight text-purple-blue-500 font-display">
                        100%
                    </h3>
                    <h3 class="text-base font-bold leading-tight text-dark-grey-900 font-display mb-2">
                        kokybės garantija
                    </h3>
                    <p class="text-base leading-7 text-dark-grey-600">
                        Suteikiama pinigų grąžinimo garantija, jei masažas nepatiks
                    </p>
                </div>
            </div>
            </div>
            <div class="bg-cover hidden lg:block rounded-3xl" style="
                background-image: url('https://loopple.s3.eu-west-3.amazonaws.com/images/dMWW2BlZwC32TjditH4gOkUvo8bWoW3AT6Ju8ufI.png');
                height: 750px;
            "></div>
        </div>
    </div>
</div>
