<div class="w-full py-28">
    <div class="container mx-auto flex flex-col">
        <div class="flex w-full flex-col items-center">
            <span class="mb-8">
                <img src="https://loopple.s3.eu-west-3.amazonaws.com/images/IPpLPKMA5DwxyoaQuFOrp2JI0wZROIkGvmoc7JXX.svg" alt="Demenis logo" height="40" style="height: 40px" />
            </span>
            <div class="mb-8 flex flex-col items-center gap-6">
                <div class="text-dark-grey-900 flex flex-wrap items-center justify-center gap-5 gap-y-3 lg:flex-nowrap lg:gap-12">
                    <a href="#pradzia" class="text-gray-600 hover:text-gray-900">Į pradžią</a>
                    <a href="#apie-masazuotoja" class="text-gray-600 hover:text-gray-900">Apie masažuotoją</a>
                    <a href="#apie-masazus" class="text-gray-600 hover:text-gray-900">Apie masažą</a>
                    <a href="#klientai-ir-atsiliepimai" class="text-gray-600 hover:text-gray-900">Atsiliepimai</a>
                    <a href="#masazu-kaina" class="text-gray-600 hover:text-gray-900">Kaina</a>
                    <a href="#klausimai" class="text-gray-600 hover:text-gray-900">Klausimai</a>
                    <a href="#uzsakymo-forma" class="text-gray-600 hover:text-gray-900">Registruotis masažui</a>
                </div>
                <div class="flex items-center gap-8">
                    <a href="https://kizim.lt/skirta-kineziterapeutams" target="_blank" class="text-grey-700 hover:text-grey-900">
                        <img src="https://loopple.s3.eu-west-3.amazonaws.com/images/2GiYbTl0NgKuU3XeOUIgt1QnUT4y2rPwUerkpYva.svg" alt="Kizi M" width="" height="40" style="height: 40px" />
                    </a>
                </div>
            </div>
            <div class="flex items-center">
                <p class="text-grey-700 text-center text-base font-normal leading-7">
                    <a href="https://kizim.lt/skirta-kineziterapeutams" target="_blank"> WEB sprendimą kūrė oficialūs Deimanto Demenio partneriai „Kizi M”</a>
                    <br /><span class="text-neutral-400">2024 © Demenis.lt</span>
                </p>
            </div>
        </div>
    </div>
</div>
