<%
    let selfMenuItems = [
        {
            href: '#pradzia',
            text: 'Į pradžią'
        },
        {
            href: '#apie-masazuotoja',
            text: 'Apie masažuotoją'
        },
        {
            href: '#apie-masazus',
            text: 'Apie masažą'
        },
        {
            href: '#klientai-ir-atsiliepimai',
            text: 'Atsiliepimai'
        },
        {
            href: '#masazu-kaina',
            text: 'Kaina'
        },
        {
            href: '#klausimai',
            text: 'Klausimai'
        }
    ];

    if (typeof menuItems !== 'undefined') {
        selfMenuItems = menuItems;
    };
%>

<div class="w-full py-28">
    <div class="container mx-auto flex flex-col">
        <div class="flex w-full flex-col items-center">
            <span class="mb-8">
                <img src="https://kizim-lt.b-cdn.net/demenis.lt/IPpLPKMA5DwxyoaQuFOrp2JI0wZROIkGvmoc7JXX.svg" alt="Demenis logo" height="42" style="height: 42px" />
            </span>
            <div class="mb-8 flex flex-col items-center gap-6">
                <div class="text-dark-grey-900 flex flex-wrap items-center justify-center gap-5 gap-y-3 lg:flex-nowrap lg:gap-12">
                    <% selfMenuItems.forEach((item) => { %>
                        <a href="<%= item.href %>" class="text-gray-600 hover:text-gray-900">
                            <%= item.text %>
                        </a>
                    <% }); %>
                </div>
                <div class="flex items-center gap-8">
                    <a href="https://marketing.menkoff.com/yH4vad" target="_blank" class="text-grey-700 hover:text-grey-900">
                        <img src="https://kizim-lt.b-cdn.net/menkoff.com/menkoff_logo_black.svg" alt="Menkoff Solutions" width="" height="24" style="height: 24px" />
                    </a>
                </div>
            </div>
            <div class="flex items-center">
                <p class="text-grey-700 text-center text-base font-normal leading-7">
                    <a href="https://marketing.menkoff.com/yH4vad" target="_blank"> WEB sprendimą kūrė oficialūs Deimanto Demenio partneriai „Menkoff Solutions”</a>
                    <br /><span class="text-neutral-400">2024 © Demenis.lt</span>
                </p>
            </div>
        </div>
    </div>
</div>
