<%
    let menuItems = [
        {
            href: '#pradzia',
            text: 'Į pradžią'
        },
        {
            href: '#apie-masazuotoja',
            text: 'Apie masažuotoją'
        },
        {
            href: '#apie-masazus',
            text: 'Apie masažą'
        },
        {
            href: '#klientai-ir-atsiliepimai',
            text: 'Atsiliepimai'
        },
        {
            href: '#masazu-kaina',
            text: 'Kaina'
        },
        {
            href: '#klausimai',
            text: 'Klausimai'
        }
    ];
%>

<div class="fixed w-full top-0 left-0 z-50 bg-white shadow-sm">
    <div class="container flex flex-col mx-auto">
        <div class="relative grid gap-5 grid-cols-2 md:grid-cols-3 xl:flex xl:justify-between flex-wrap items-center w-full bg-white group py-5 shrink-0">
            <div>
                <a href="#pradzia">
                    <img class="h-8" src="https://kizim-lt.b-cdn.net/demenis.lt/H9NaypoxCAHej91lMgVOwKQhkmgtwAqFGpwevfJz.svg" />
                </a>
            </div>
            <div class="items-center justify-between hidden gap-12 text-black xl:flex">
                <% menuItems.forEach((item) => { %>
                    <a class="text-sm font-normal text-dark-grey-700 hover:text-dark-grey-900" href="<%= item.href %>">
                        <%= item.text %>
                    </a>
                <% }) %>
            </div>
            <div class="items-center hidden gap-8 md:flex justify-self-center">
                <a href="#uzsakymo-forma">
                    <button class="flex items-center px-4 py-2 text-sm font-bold text-white bg-purple-blue-500 hover:bg-purple-blue-600 focus:ring-4 focus:ring-purple-blue-100 transition duration-300 rounded-xl">
                        Registruotis masažui
                    </button>
                </a>
            </div>
            <button onclick="(() => { this.closest('.group').classList.toggle('open')})()" class="flex xl:hidden justify-self-end">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M3 8H21C21.2652 8 21.5196 7.89464 21.7071 7.70711C21.8946 7.51957 22 7.26522 22 7C22 6.73478 21.8946 6.48043 21.7071 6.29289C21.5196 6.10536 21.2652 6 21 6H3C2.73478 6 2.48043 6.10536 2.29289 6.29289C2.10536 6.48043 2 6.73478 2 7C2 7.26522 2.10536 7.51957 2.29289 7.70711C2.48043 7.89464 2.73478 8 3 8ZM21 16H3C2.73478 16 2.48043 16.1054 2.29289 16.2929C2.10536 16.4804 2 16.7348 2 17C2 17.2652 2.10536 17.5196 2.29289 17.7071C2.48043 17.8946 2.73478 18 3 18H21C21.2652 18 21.5196 17.8946 21.7071 17.7071C21.8946 17.5196 22 17.2652 22 17C22 16.7348 21.8946 16.4804 21.7071 16.2929C21.5196 16.1054 21.2652 16 21 16ZM21 11H3C2.73478 11 2.48043 11.1054 2.29289 11.2929C2.10536 11.4804 2 11.7348 2 12C2 12.2652 2.10536 12.5196 2.29289 12.7071C2.48043 12.8946 2.73478 13 3 13H21C21.2652 13 21.5196 12.8946 21.7071 12.7071C21.8946 12.5196 22 12.2652 22 12C22 11.7348 21.8946 11.4804 21.7071 11.2929C21.5196 11.1054 21.2652 11 21 11Z" fill="black"></path>
                </svg>
            </button>
            <div class="absolute flex 2xl:hidden transition-all duration-300 ease-in-out flex-col items-start shadow-main justify-center w-full gap-3 overflow-hidden bg-white max-h-0 group-[.open]:py-6 px-4 group-[.open]:max-h-80 top-full">
                <div class="flex flex-col items-start mb-6 gap-3">
                    <% menuItems.forEach((item) => { %>
                        <a onclick="(() => { this.closest('.group').classList.toggle('open')})()" class="text font-normal text-dark-grey-700 hover:text-dark-grey-900" href="<%= item.href %>">
                            <%= item.text %>
                        </a>
                    <% }) %>

                    <a onclick="(() => { this.closest('.group').classList.toggle('open')})()" href="#uzklausa-kokio-masazo-reikia">
                        <button class="flex items-center text font-bold text-dark-grey-700 hover:text-dark-grey-900">
                            Palikti užklausą
                        </button>
                    </a>
                    <a onclick="(() => { this.closest('.group').classList.toggle('open')})()" href="#uzsakymo-forma">
                        <button class="flex items-center px-4 py-2 text-sm font-bold text-white rounded-xl bg-purple-blue-500 hover:bg-purple-blue-600 focus:ring-4 focus:ring-purple-blue-100 transition duration-300">
                            Registruotis masažui
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="h-20" id="pradzia"></div>
