<div class="container flex flex-col mx-auto" id="pradzia">
    <div class="relative flex gap-5 flex-wrap items-center justify-between w-full bg-white group py-7 shrink-0">
        <div>
            <a href="#pradzia">
                <img class="h-8" src="https://loopple.s3.eu-west-3.amazonaws.com/images/H9NaypoxCAHej91lMgVOwKQhkmgtwAqFGpwevfJz.svg" />
            </a>
        </div>
        <div class="items-center justify-between hidden gap-12 text-black 2xl:flex">
            <a class="text-sm font-normal text-dark-grey-700 hover:text-dark-grey-900" href="#pradzia">
                Į pradžią
            </a>
            <a class="text-sm font-normal text-dark-grey-700 hover:text-dark-grey-900" href="#apie-masazuotoja">
                Apie masažuotoją
            </a>
            <a class="text-sm font-normal text-dark-grey-700 hover:text-dark-grey-900" href="#apie-masazus">
                Apie masažą
            </a>
            <a class="text-sm font-normal text-dark-grey-700 hover:text-dark-grey-900" href="#klientai-ir-atsiliepimai">
                Atsiliepimai
            </a>
            <a class="text-sm font-normal text-dark-grey-700 hover:text-dark-grey-900" href="#masazu-kaina">
                Kaina
            </a>
            <a class="text-sm font-normal text-dark-grey-700 hover:text-dark-grey-900" href="#klausimai">
                Klausimai
            </a>
        </div>
        <div class="items-center hidden gap-8 md:flex">
            <a href="#uzklausa-kokio-masazo-reikia">
                <button class="flex items-center py-4 text-sm font-medium px-7 text-dark-grey-700 hover:text-dark-grey-900 transition duration-300 rounded-2xl">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 mr-2">
                        <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z" clip-rule="evenodd"></path>
                    </svg>
                    Palikti užklausą
                </button>
            </a>
            <a href="#uzsakymo-forma">
                <button class="flex items-center px-4 py-2 text-sm font-bold text-white bg-purple-blue-500 hover:bg-purple-blue-600 focus:ring-4 focus:ring-purple-blue-100 transition duration-300 rounded-xl">
                    Registruotis masažui
                </button>
            </a>
        </div>
        <button onclick="(() => { this.closest('.group').classList.toggle('open')})()" class="flex 2xl:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M3 8H21C21.2652 8 21.5196 7.89464 21.7071 7.70711C21.8946 7.51957 22 7.26522 22 7C22 6.73478 21.8946 6.48043 21.7071 6.29289C21.5196 6.10536 21.2652 6 21 6H3C2.73478 6 2.48043 6.10536 2.29289 6.29289C2.10536 6.48043 2 6.73478 2 7C2 7.26522 2.10536 7.51957 2.29289 7.70711C2.48043 7.89464 2.73478 8 3 8ZM21 16H3C2.73478 16 2.48043 16.1054 2.29289 16.2929C2.10536 16.4804 2 16.7348 2 17C2 17.2652 2.10536 17.5196 2.29289 17.7071C2.48043 17.8946 2.73478 18 3 18H21C21.2652 18 21.5196 17.8946 21.7071 17.7071C21.8946 17.5196 22 17.2652 22 17C22 16.7348 21.8946 16.4804 21.7071 16.2929C21.5196 16.1054 21.2652 16 21 16ZM21 11H3C2.73478 11 2.48043 11.1054 2.29289 11.2929C2.10536 11.4804 2 11.7348 2 12C2 12.2652 2.10536 12.5196 2.29289 12.7071C2.48043 12.8946 2.73478 13 3 13H21C21.2652 13 21.5196 12.8946 21.7071 12.7071C21.8946 12.5196 22 12.2652 22 12C22 11.7348 21.8946 11.4804 21.7071 11.2929C21.5196 11.1054 21.2652 11 21 11Z" fill="black"></path>
            </svg>
        </button>
        <div class="absolute flex 2xl:hidden transition-all duration-300 ease-in-out flex-col items-start shadow-main justify-center w-full gap-3 overflow-hidden bg-white max-h-0 group-[.open]:py-6 px-4 group-[.open]:max-h-80 top-full">
            <div class="flex flex-col items-start mb-6 gap-3">
                <a class="text font-normal text-dark-grey-700 hover:text-dark-grey-900" href="#pradzia">
                    Į pradžią
                </a>
                <a class="text font-normal text-dark-grey-700 hover:text-dark-grey-900" href="#apie-masazuotoja">
                    Apie masažuotoją
                </a>
                <a class="text font-normal text-dark-grey-700 hover:text-dark-grey-900" href="#apie-masazus">
                    Apie masažą
                </a>
                <a class="text font-normal text-dark-grey-700 hover:text-dark-grey-900" href="#klientai-ir-atsiliepimai">
                    Atsiliepimai
                </a>
                <a class="text font-normal text-dark-grey-700 hover:text-dark-grey-900" href="#masazu-kaina">
                    Kaina
                </a>
                <a class="text font-normal text-dark-grey-700 hover:text-dark-grey-900" href="#klausimai">
                    Klausimai
                </a>
                <a href="#uzklausa-kokio-masazo-reikia">
                    <button class="flex items-center text font-bold text-dark-grey-700 hover:text-dark-grey-900">
                        Palikti užklausą
                    </button>
                </a>
                <a href="#uzsakymo-forma">
                    <button class="flex items-center px-4 py-2 text-sm font-bold text-white rounded-xl bg-purple-blue-500 hover:bg-purple-blue-600 focus:ring-4 focus:ring-purple-blue-100 transition duration-300">
                        Registruotis masažui
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>