<div class="w-full bg-[#f8f9fa] py-28" id="masazu-kaina">
    <div class="container mx-auto flex flex-col gap-14">
        <div class="w-full text-center flex flex-col gap-8">
            <%-
                include('./single/h2.ejs', {text: 'Deimanto Demenio masažų kainos'});
            %>
            <p class="text-dark-grey-600 text-base leading-7">Žemiau nurodytų kainų pasiūlymai gali kisti priklausomai nuo Deimanto Demenio užimtumo ir likusių laisvų vietų skaičiaus kalendoriuje</p>
        </div>
        <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
            <div class="border-grey-500 flex flex-col items-center gap-8 rounded-3xl border border-solid bg-white p-8">
                <div class="flex w-full flex-col items-start gap-3">
                    <p class="text-purple-blue-500 text-base font-bold leading-7">1 masažo vizitas</p>
                    <div class="flex flex-row items-center justify-center">
                        <h3 class="text-dark-grey-900 font-display text-3xl md:text-4xl lg:text-5xl font-extrabold leading-tight">€59</h3>
                    </div>
                    <p class="text-dark-grey-600 text-base font-medium leading-7">Puikus pasirinkimas pirmajam vizitui</p>
                </div>
                <div class="flex w-full flex-col items-center gap-5">
                    <a href="#<%= formScreenId %>">
                        <button class="border-indigo-500 text-purple-blue-500 hover:bg-indigo-500 w-full rounded-2xl border border-solid px-4 py-3 text-sm font-bold transition duration-300 hover:text-white">Pateikti užklausą</button>
                    </a>
                </div>
                <div class="self-start-start flex w-full flex-col gap-4">
                    <div class="flex flex-row items-center gap-3">
                        <span class="bg-purple-blue-500 flex h-5 w-5 items-center justify-center rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                <path d="M15.5917 6.50828C15.5142 6.43017 15.4221 6.36818 15.3205 6.32587C15.219 6.28356 15.11 6.26178 15 6.26178C14.89 6.26178 14.7811 6.28356 14.6796 6.32587C14.578 6.36818 14.4858 6.43017 14.4084 6.50828L8.20004 12.7249L5.59171 10.1083C5.51127 10.0306 5.41632 9.96948 5.31227 9.92848C5.20823 9.88748 5.09713 9.86737 4.98531 9.8693C4.87349 9.87124 4.76315 9.89518 4.66058 9.93976C4.55802 9.98433 4.46524 10.0487 4.38754 10.1291C4.30984 10.2095 4.24875 10.3045 4.20774 10.4085C4.16674 10.5126 4.14663 10.6237 4.14856 10.7355C4.1505 10.8473 4.17444 10.9577 4.21902 11.0602C4.2636 11.1628 4.32794 11.2556 4.40837 11.3333L7.60837 14.5333C7.68584 14.6114 7.77801 14.6734 7.87956 14.7157C7.98111 14.758 8.09003 14.7798 8.20004 14.7798C8.31005 14.7798 8.41897 14.758 8.52052 14.7157C8.62207 14.6734 8.71424 14.6114 8.79171 14.5333L15.5917 7.73328C15.6763 7.65524 15.7438 7.56053 15.79 7.45512C15.8361 7.3497 15.86 7.23586 15.86 7.12078C15.86 7.00569 15.8361 6.89186 15.79 6.78644C15.7438 6.68102 15.6763 6.58631 15.5917 6.50828Z" fill="white"></path>
                            </svg>
                        </span>
                        <p class="text-dark-grey-600 text-base font-medium leading-7">1 vizitas masažui</p>
                    </div>
                    <div class="flex flex-row items-center gap-3">
                        <span class="bg-purple-blue-500 flex h-5 w-5 items-center justify-center rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                <path d="M15.5917 6.50828C15.5142 6.43017 15.4221 6.36818 15.3205 6.32587C15.219 6.28356 15.11 6.26178 15 6.26178C14.89 6.26178 14.7811 6.28356 14.6796 6.32587C14.578 6.36818 14.4858 6.43017 14.4084 6.50828L8.20004 12.7249L5.59171 10.1083C5.51127 10.0306 5.41632 9.96948 5.31227 9.92848C5.20823 9.88748 5.09713 9.86737 4.98531 9.8693C4.87349 9.87124 4.76315 9.89518 4.66058 9.93976C4.55802 9.98433 4.46524 10.0487 4.38754 10.1291C4.30984 10.2095 4.24875 10.3045 4.20774 10.4085C4.16674 10.5126 4.14663 10.6237 4.14856 10.7355C4.1505 10.8473 4.17444 10.9577 4.21902 11.0602C4.2636 11.1628 4.32794 11.2556 4.40837 11.3333L7.60837 14.5333C7.68584 14.6114 7.77801 14.6734 7.87956 14.7157C7.98111 14.758 8.09003 14.7798 8.20004 14.7798C8.31005 14.7798 8.41897 14.758 8.52052 14.7157C8.62207 14.6734 8.71424 14.6114 8.79171 14.5333L15.5917 7.73328C15.6763 7.65524 15.7438 7.56053 15.79 7.45512C15.8361 7.3497 15.86 7.23586 15.86 7.12078C15.86 7.00569 15.8361 6.89186 15.79 6.78644C15.7438 6.68102 15.6763 6.58631 15.5917 6.50828Z" fill="white"></path>
                            </svg>
                        </span>
                        <p class="text-dark-grey-600 text-base font-medium leading-7">Masažo trukmė 45-60 minučių</p>
                    </div>
                    <div class="flex flex-row items-center gap-3">
                        <span class="bg-purple-blue-500 flex h-5 w-5 items-center justify-center rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                <path d="M15.5917 6.50828C15.5142 6.43017 15.4221 6.36818 15.3205 6.32587C15.219 6.28356 15.11 6.26178 15 6.26178C14.89 6.26178 14.7811 6.28356 14.6796 6.32587C14.578 6.36818 14.4858 6.43017 14.4084 6.50828L8.20004 12.7249L5.59171 10.1083C5.51127 10.0306 5.41632 9.96948 5.31227 9.92848C5.20823 9.88748 5.09713 9.86737 4.98531 9.8693C4.87349 9.87124 4.76315 9.89518 4.66058 9.93976C4.55802 9.98433 4.46524 10.0487 4.38754 10.1291C4.30984 10.2095 4.24875 10.3045 4.20774 10.4085C4.16674 10.5126 4.14663 10.6237 4.14856 10.7355C4.1505 10.8473 4.17444 10.9577 4.21902 11.0602C4.2636 11.1628 4.32794 11.2556 4.40837 11.3333L7.60837 14.5333C7.68584 14.6114 7.77801 14.6734 7.87956 14.7157C7.98111 14.758 8.09003 14.7798 8.20004 14.7798C8.31005 14.7798 8.41897 14.758 8.52052 14.7157C8.62207 14.6734 8.71424 14.6114 8.79171 14.5333L15.5917 7.73328C15.6763 7.65524 15.7438 7.56053 15.79 7.45512C15.8361 7.3497 15.86 7.23586 15.86 7.12078C15.86 7.00569 15.8361 6.89186 15.79 6.78644C15.7438 6.68102 15.6763 6.58631 15.5917 6.50828Z" fill="white"></path>
                            </svg>
                        </span>
                        <p class="text-dark-grey-600 text-base font-medium leading-7">1 Jūsų išankstinė rezervacija</p>
                    </div>
                    <div class="flex flex-row items-center gap-3">
                        <span class="bg-purple-blue-500 flex h-5 w-5 items-center justify-center rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                <path d="M15.5917 6.50828C15.5142 6.43017 15.4221 6.36818 15.3205 6.32587C15.219 6.28356 15.11 6.26178 15 6.26178C14.89 6.26178 14.7811 6.28356 14.6796 6.32587C14.578 6.36818 14.4858 6.43017 14.4084 6.50828L8.20004 12.7249L5.59171 10.1083C5.51127 10.0306 5.41632 9.96948 5.31227 9.92848C5.20823 9.88748 5.09713 9.86737 4.98531 9.8693C4.87349 9.87124 4.76315 9.89518 4.66058 9.93976C4.55802 9.98433 4.46524 10.0487 4.38754 10.1291C4.30984 10.2095 4.24875 10.3045 4.20774 10.4085C4.16674 10.5126 4.14663 10.6237 4.14856 10.7355C4.1505 10.8473 4.17444 10.9577 4.21902 11.0602C4.2636 11.1628 4.32794 11.2556 4.40837 11.3333L7.60837 14.5333C7.68584 14.6114 7.77801 14.6734 7.87956 14.7157C7.98111 14.758 8.09003 14.7798 8.20004 14.7798C8.31005 14.7798 8.41897 14.758 8.52052 14.7157C8.62207 14.6734 8.71424 14.6114 8.79171 14.5333L15.5917 7.73328C15.6763 7.65524 15.7438 7.56053 15.79 7.45512C15.8361 7.3497 15.86 7.23586 15.86 7.12078C15.86 7.00569 15.8361 6.89186 15.79 6.78644C15.7438 6.68102 15.6763 6.58631 15.5917 6.50828Z" fill="white"></path>
                            </svg>
                        </span>
                        <p class="text-dark-grey-600 text-base font-medium leading-7">1 individuali konsultacija</p>
                    </div>
                    <div class="flex flex-row items-center gap-3">
                        <span class="bg-purple-blue-500 flex h-5 w-5 items-center justify-center rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                <path d="M15.5917 6.50828C15.5142 6.43017 15.4221 6.36818 15.3205 6.32587C15.219 6.28356 15.11 6.26178 15 6.26178C14.89 6.26178 14.7811 6.28356 14.6796 6.32587C14.578 6.36818 14.4858 6.43017 14.4084 6.50828L8.20004 12.7249L5.59171 10.1083C5.51127 10.0306 5.41632 9.96948 5.31227 9.92848C5.20823 9.88748 5.09713 9.86737 4.98531 9.8693C4.87349 9.87124 4.76315 9.89518 4.66058 9.93976C4.55802 9.98433 4.46524 10.0487 4.38754 10.1291C4.30984 10.2095 4.24875 10.3045 4.20774 10.4085C4.16674 10.5126 4.14663 10.6237 4.14856 10.7355C4.1505 10.8473 4.17444 10.9577 4.21902 11.0602C4.2636 11.1628 4.32794 11.2556 4.40837 11.3333L7.60837 14.5333C7.68584 14.6114 7.77801 14.6734 7.87956 14.7157C7.98111 14.758 8.09003 14.7798 8.20004 14.7798C8.31005 14.7798 8.41897 14.758 8.52052 14.7157C8.62207 14.6734 8.71424 14.6114 8.79171 14.5333L15.5917 7.73328C15.6763 7.65524 15.7438 7.56053 15.79 7.45512C15.8361 7.3497 15.86 7.23586 15.86 7.12078C15.86 7.00569 15.8361 6.89186 15.79 6.78644C15.7438 6.68102 15.6763 6.58631 15.5917 6.50828Z" fill="white"></path>
                            </svg>
                        </span>
                        <p class="text-dark-grey-600 text-base font-medium leading-7">1 pagrindinė rekomendacija</p>
                    </div>
                </div>
            </div>
            <div class="shadow-main flex flex-col items-center gap-8 rounded-3xl bg-white p-8">
                <div class="flex w-full flex-col items-start gap-3">
                    <p class="text-purple-blue-500 text-base font-bold leading-7">3 masažų vizitai už gerą kainą</p>
                    <div class="flex flex-row items-center justify-center">
                        <h3 class="text-dark-grey-900 font-display text-3xl md:text-4xl lg:text-5xl font-extrabold leading-tight">€149</h3>
                    </div>
                    <p class="text-dark-grey-600 text-base font-medium leading-7">Populiariausias klientų pasirinkimas</p>
                </div>
                <div class="flex w-full flex-col items-center gap-5">
                    <a href="#<%= formScreenId %>">
                        <button class="border-indigo-500 bg-purple-blue-500 hover:bg-indigo-700 w-full rounded-2xl border border-solid px-4 py-3 text-sm font-bold text-white transition duration-300">Pateikti užklausą</button>
                    </a>
                </div>
                <div class="self-start-start flex w-full flex-col gap-4">
                    <div class="flex flex-row items-center gap-3">
                        <span class="bg-purple-blue-500 flex h-5 w-5 items-center justify-center rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                <path d="M15.5917 6.50828C15.5142 6.43017 15.4221 6.36818 15.3205 6.32587C15.219 6.28356 15.11 6.26178 15 6.26178C14.89 6.26178 14.7811 6.28356 14.6796 6.32587C14.578 6.36818 14.4858 6.43017 14.4084 6.50828L8.20004 12.7249L5.59171 10.1083C5.51127 10.0306 5.41632 9.96948 5.31227 9.92848C5.20823 9.88748 5.09713 9.86737 4.98531 9.8693C4.87349 9.87124 4.76315 9.89518 4.66058 9.93976C4.55802 9.98433 4.46524 10.0487 4.38754 10.1291C4.30984 10.2095 4.24875 10.3045 4.20774 10.4085C4.16674 10.5126 4.14663 10.6237 4.14856 10.7355C4.1505 10.8473 4.17444 10.9577 4.21902 11.0602C4.2636 11.1628 4.32794 11.2556 4.40837 11.3333L7.60837 14.5333C7.68584 14.6114 7.77801 14.6734 7.87956 14.7157C7.98111 14.758 8.09003 14.7798 8.20004 14.7798C8.31005 14.7798 8.41897 14.758 8.52052 14.7157C8.62207 14.6734 8.71424 14.6114 8.79171 14.5333L15.5917 7.73328C15.6763 7.65524 15.7438 7.56053 15.79 7.45512C15.8361 7.3497 15.86 7.23586 15.86 7.12078C15.86 7.00569 15.8361 6.89186 15.79 6.78644C15.7438 6.68102 15.6763 6.58631 15.5917 6.50828Z" fill="white"></path>
                            </svg>
                        </span>
                        <p class="text-dark-grey-600 text-base font-medium leading-7">3 vizitai masažui</p>
                    </div>
                    <div class="flex flex-row items-center gap-3">
                        <span class="bg-purple-blue-500 flex h-5 w-5 items-center justify-center rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                <path d="M15.5917 6.50828C15.5142 6.43017 15.4221 6.36818 15.3205 6.32587C15.219 6.28356 15.11 6.26178 15 6.26178C14.89 6.26178 14.7811 6.28356 14.6796 6.32587C14.578 6.36818 14.4858 6.43017 14.4084 6.50828L8.20004 12.7249L5.59171 10.1083C5.51127 10.0306 5.41632 9.96948 5.31227 9.92848C5.20823 9.88748 5.09713 9.86737 4.98531 9.8693C4.87349 9.87124 4.76315 9.89518 4.66058 9.93976C4.55802 9.98433 4.46524 10.0487 4.38754 10.1291C4.30984 10.2095 4.24875 10.3045 4.20774 10.4085C4.16674 10.5126 4.14663 10.6237 4.14856 10.7355C4.1505 10.8473 4.17444 10.9577 4.21902 11.0602C4.2636 11.1628 4.32794 11.2556 4.40837 11.3333L7.60837 14.5333C7.68584 14.6114 7.77801 14.6734 7.87956 14.7157C7.98111 14.758 8.09003 14.7798 8.20004 14.7798C8.31005 14.7798 8.41897 14.758 8.52052 14.7157C8.62207 14.6734 8.71424 14.6114 8.79171 14.5333L15.5917 7.73328C15.6763 7.65524 15.7438 7.56053 15.79 7.45512C15.8361 7.3497 15.86 7.23586 15.86 7.12078C15.86 7.00569 15.8361 6.89186 15.79 6.78644C15.7438 6.68102 15.6763 6.58631 15.5917 6.50828Z" fill="white"></path>
                            </svg>
                        </span>
                        <p class="text-dark-grey-600 text-base font-medium leading-7">Masažo trukmė 45-60 minučių</p>
                    </div>
                    <div class="flex flex-row items-center gap-3">
                        <span class="bg-purple-blue-500 flex h-5 w-5 items-center justify-center rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                <path d="M15.5917 6.50828C15.5142 6.43017 15.4221 6.36818 15.3205 6.32587C15.219 6.28356 15.11 6.26178 15 6.26178C14.89 6.26178 14.7811 6.28356 14.6796 6.32587C14.578 6.36818 14.4858 6.43017 14.4084 6.50828L8.20004 12.7249L5.59171 10.1083C5.51127 10.0306 5.41632 9.96948 5.31227 9.92848C5.20823 9.88748 5.09713 9.86737 4.98531 9.8693C4.87349 9.87124 4.76315 9.89518 4.66058 9.93976C4.55802 9.98433 4.46524 10.0487 4.38754 10.1291C4.30984 10.2095 4.24875 10.3045 4.20774 10.4085C4.16674 10.5126 4.14663 10.6237 4.14856 10.7355C4.1505 10.8473 4.17444 10.9577 4.21902 11.0602C4.2636 11.1628 4.32794 11.2556 4.40837 11.3333L7.60837 14.5333C7.68584 14.6114 7.77801 14.6734 7.87956 14.7157C7.98111 14.758 8.09003 14.7798 8.20004 14.7798C8.31005 14.7798 8.41897 14.758 8.52052 14.7157C8.62207 14.6734 8.71424 14.6114 8.79171 14.5333L15.5917 7.73328C15.6763 7.65524 15.7438 7.56053 15.79 7.45512C15.8361 7.3497 15.86 7.23586 15.86 7.12078C15.86 7.00569 15.8361 6.89186 15.79 6.78644C15.7438 6.68102 15.6763 6.58631 15.5917 6.50828Z" fill="white"></path>
                            </svg>
                        </span>
                        <p class="text-dark-grey-600 text-base font-medium leading-7">3 Jūsų išankstinės rezervacijos</p>
                    </div>
                    <div class="flex flex-row items-center gap-3">
                        <span class="bg-purple-blue-500 flex h-5 w-5 items-center justify-center rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                <path d="M15.5917 6.50828C15.5142 6.43017 15.4221 6.36818 15.3205 6.32587C15.219 6.28356 15.11 6.26178 15 6.26178C14.89 6.26178 14.7811 6.28356 14.6796 6.32587C14.578 6.36818 14.4858 6.43017 14.4084 6.50828L8.20004 12.7249L5.59171 10.1083C5.51127 10.0306 5.41632 9.96948 5.31227 9.92848C5.20823 9.88748 5.09713 9.86737 4.98531 9.8693C4.87349 9.87124 4.76315 9.89518 4.66058 9.93976C4.55802 9.98433 4.46524 10.0487 4.38754 10.1291C4.30984 10.2095 4.24875 10.3045 4.20774 10.4085C4.16674 10.5126 4.14663 10.6237 4.14856 10.7355C4.1505 10.8473 4.17444 10.9577 4.21902 11.0602C4.2636 11.1628 4.32794 11.2556 4.40837 11.3333L7.60837 14.5333C7.68584 14.6114 7.77801 14.6734 7.87956 14.7157C7.98111 14.758 8.09003 14.7798 8.20004 14.7798C8.31005 14.7798 8.41897 14.758 8.52052 14.7157C8.62207 14.6734 8.71424 14.6114 8.79171 14.5333L15.5917 7.73328C15.6763 7.65524 15.7438 7.56053 15.79 7.45512C15.8361 7.3497 15.86 7.23586 15.86 7.12078C15.86 7.00569 15.8361 6.89186 15.79 6.78644C15.7438 6.68102 15.6763 6.58631 15.5917 6.50828Z" fill="white"></path>
                            </svg>
                        </span>
                        <p class="text-dark-grey-600 text-base font-medium leading-7">3 individualios konsultacijos</p>
                    </div>
                    <div class="flex flex-row items-center gap-3">
                        <span class="bg-purple-blue-500 flex h-5 w-5 items-center justify-center rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                <path d="M15.5917 6.50828C15.5142 6.43017 15.4221 6.36818 15.3205 6.32587C15.219 6.28356 15.11 6.26178 15 6.26178C14.89 6.26178 14.7811 6.28356 14.6796 6.32587C14.578 6.36818 14.4858 6.43017 14.4084 6.50828L8.20004 12.7249L5.59171 10.1083C5.51127 10.0306 5.41632 9.96948 5.31227 9.92848C5.20823 9.88748 5.09713 9.86737 4.98531 9.8693C4.87349 9.87124 4.76315 9.89518 4.66058 9.93976C4.55802 9.98433 4.46524 10.0487 4.38754 10.1291C4.30984 10.2095 4.24875 10.3045 4.20774 10.4085C4.16674 10.5126 4.14663 10.6237 4.14856 10.7355C4.1505 10.8473 4.17444 10.9577 4.21902 11.0602C4.2636 11.1628 4.32794 11.2556 4.40837 11.3333L7.60837 14.5333C7.68584 14.6114 7.77801 14.6734 7.87956 14.7157C7.98111 14.758 8.09003 14.7798 8.20004 14.7798C8.31005 14.7798 8.41897 14.758 8.52052 14.7157C8.62207 14.6734 8.71424 14.6114 8.79171 14.5333L15.5917 7.73328C15.6763 7.65524 15.7438 7.56053 15.79 7.45512C15.8361 7.3497 15.86 7.23586 15.86 7.12078C15.86 7.00569 15.8361 6.89186 15.79 6.78644C15.7438 6.68102 15.6763 6.58631 15.5917 6.50828Z" fill="white"></path>
                            </svg>
                        </span>
                        <p class="text-dark-grey-600 text-base font-medium leading-7">3 nuoseklios rekomendacijos</p>
                    </div>
                    <div class="flex flex-row items-center gap-3">
                        <span class="bg-purple-blue-500 flex h-5 w-5 items-center justify-center rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                <path d="M15.5917 6.50828C15.5142 6.43017 15.4221 6.36818 15.3205 6.32587C15.219 6.28356 15.11 6.26178 15 6.26178C14.89 6.26178 14.7811 6.28356 14.6796 6.32587C14.578 6.36818 14.4858 6.43017 14.4084 6.50828L8.20004 12.7249L5.59171 10.1083C5.51127 10.0306 5.41632 9.96948 5.31227 9.92848C5.20823 9.88748 5.09713 9.86737 4.98531 9.8693C4.87349 9.87124 4.76315 9.89518 4.66058 9.93976C4.55802 9.98433 4.46524 10.0487 4.38754 10.1291C4.30984 10.2095 4.24875 10.3045 4.20774 10.4085C4.16674 10.5126 4.14663 10.6237 4.14856 10.7355C4.1505 10.8473 4.17444 10.9577 4.21902 11.0602C4.2636 11.1628 4.32794 11.2556 4.40837 11.3333L7.60837 14.5333C7.68584 14.6114 7.77801 14.6734 7.87956 14.7157C7.98111 14.758 8.09003 14.7798 8.20004 14.7798C8.31005 14.7798 8.41897 14.758 8.52052 14.7157C8.62207 14.6734 8.71424 14.6114 8.79171 14.5333L15.5917 7.73328C15.6763 7.65524 15.7438 7.56053 15.79 7.45512C15.8361 7.3497 15.86 7.23586 15.86 7.12078C15.86 7.00569 15.8361 6.89186 15.79 6.78644C15.7438 6.68102 15.6763 6.58631 15.5917 6.50828Z" fill="white"></path>
                            </svg>
                        </span>
                        <p class="text-dark-grey-600 text-base font-medium leading-7">Greičiau pasiekiamas masažų poveikis</p>
                    </div>
                    <div class="flex flex-row items-center gap-3">
                        <span class="bg-purple-blue-500 flex h-5 w-5 items-center justify-center rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                <path d="M15.5917 6.50828C15.5142 6.43017 15.4221 6.36818 15.3205 6.32587C15.219 6.28356 15.11 6.26178 15 6.26178C14.89 6.26178 14.7811 6.28356 14.6796 6.32587C14.578 6.36818 14.4858 6.43017 14.4084 6.50828L8.20004 12.7249L5.59171 10.1083C5.51127 10.0306 5.41632 9.96948 5.31227 9.92848C5.20823 9.88748 5.09713 9.86737 4.98531 9.8693C4.87349 9.87124 4.76315 9.89518 4.66058 9.93976C4.55802 9.98433 4.46524 10.0487 4.38754 10.1291C4.30984 10.2095 4.24875 10.3045 4.20774 10.4085C4.16674 10.5126 4.14663 10.6237 4.14856 10.7355C4.1505 10.8473 4.17444 10.9577 4.21902 11.0602C4.2636 11.1628 4.32794 11.2556 4.40837 11.3333L7.60837 14.5333C7.68584 14.6114 7.77801 14.6734 7.87956 14.7157C7.98111 14.758 8.09003 14.7798 8.20004 14.7798C8.31005 14.7798 8.41897 14.758 8.52052 14.7157C8.62207 14.6734 8.71424 14.6114 8.79171 14.5333L15.5917 7.73328C15.6763 7.65524 15.7438 7.56053 15.79 7.45512C15.8361 7.3497 15.86 7.23586 15.86 7.12078C15.86 7.00569 15.8361 6.89186 15.79 6.78644C15.7438 6.68102 15.6763 6.58631 15.5917 6.50828Z" fill="white"></path>
                            </svg>
                        </span>
                        <p class="text-dark-grey-600 text-base font-medium leading-7">Ilgiau jaučiamas rezultatas ir efektas</p>
                    </div>
                </div>
            </div>
            <div class="border-grey-500 flex flex-col items-center gap-8 rounded-3xl border border-solid bg-white p-8">
                <div class="flex w-full flex-col items-start gap-3">
                    <p class="text-purple-blue-500 text-base font-bold leading-7">VIP planas</p>
                    <div class="flex flex-row items-center justify-center">
                        <h3 class="text-dark-grey-900 font-display text-3xl md:text-4xl lg:text-5xl font-extrabold leading-tight">€1000+</h3>
                    </div>
                    <p class="text-dark-grey-600 text-base font-medium leading-7">Unikalus masažų terapijos planas</p>
                </div>
                <div class="flex w-full flex-col items-center gap-5">
                    <a href="#<%= formScreenId %>">
                        <button class="border-indigo-500 text-purple-blue-500 hover:bg-indigo-500 w-full rounded-2xl border border-solid px-4 py-3 text-sm font-bold transition duration-300 hover:text-white">Pateikti užklausą</button>
                    </a>
                </div>
                <div class="self-start-start flex w-full flex-col gap-4">
                    <div class="flex flex-row items-center gap-3">
                        <span class="bg-purple-blue-500 flex h-5 w-5 items-center justify-center rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                <path d="M15.5917 6.50828C15.5142 6.43017 15.4221 6.36818 15.3205 6.32587C15.219 6.28356 15.11 6.26178 15 6.26178C14.89 6.26178 14.7811 6.28356 14.6796 6.32587C14.578 6.36818 14.4858 6.43017 14.4084 6.50828L8.20004 12.7249L5.59171 10.1083C5.51127 10.0306 5.41632 9.96948 5.31227 9.92848C5.20823 9.88748 5.09713 9.86737 4.98531 9.8693C4.87349 9.87124 4.76315 9.89518 4.66058 9.93976C4.55802 9.98433 4.46524 10.0487 4.38754 10.1291C4.30984 10.2095 4.24875 10.3045 4.20774 10.4085C4.16674 10.5126 4.14663 10.6237 4.14856 10.7355C4.1505 10.8473 4.17444 10.9577 4.21902 11.0602C4.2636 11.1628 4.32794 11.2556 4.40837 11.3333L7.60837 14.5333C7.68584 14.6114 7.77801 14.6734 7.87956 14.7157C7.98111 14.758 8.09003 14.7798 8.20004 14.7798C8.31005 14.7798 8.41897 14.758 8.52052 14.7157C8.62207 14.6734 8.71424 14.6114 8.79171 14.5333L15.5917 7.73328C15.6763 7.65524 15.7438 7.56053 15.79 7.45512C15.8361 7.3497 15.86 7.23586 15.86 7.12078C15.86 7.00569 15.8361 6.89186 15.79 6.78644C15.7438 6.68102 15.6763 6.58631 15.5917 6.50828Z" fill="white"></path>
                            </svg>
                        </span>
                        <p class="text-dark-grey-600 text-base font-medium leading-7">Vizitų skaičius aptariamas individualiai</p>
                    </div>
                    <div class="flex flex-row items-center gap-3">
                        <span class="bg-purple-blue-500 flex h-5 w-5 items-center justify-center rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                <path d="M15.5917 6.50828C15.5142 6.43017 15.4221 6.36818 15.3205 6.32587C15.219 6.28356 15.11 6.26178 15 6.26178C14.89 6.26178 14.7811 6.28356 14.6796 6.32587C14.578 6.36818 14.4858 6.43017 14.4084 6.50828L8.20004 12.7249L5.59171 10.1083C5.51127 10.0306 5.41632 9.96948 5.31227 9.92848C5.20823 9.88748 5.09713 9.86737 4.98531 9.8693C4.87349 9.87124 4.76315 9.89518 4.66058 9.93976C4.55802 9.98433 4.46524 10.0487 4.38754 10.1291C4.30984 10.2095 4.24875 10.3045 4.20774 10.4085C4.16674 10.5126 4.14663 10.6237 4.14856 10.7355C4.1505 10.8473 4.17444 10.9577 4.21902 11.0602C4.2636 11.1628 4.32794 11.2556 4.40837 11.3333L7.60837 14.5333C7.68584 14.6114 7.77801 14.6734 7.87956 14.7157C7.98111 14.758 8.09003 14.7798 8.20004 14.7798C8.31005 14.7798 8.41897 14.758 8.52052 14.7157C8.62207 14.6734 8.71424 14.6114 8.79171 14.5333L15.5917 7.73328C15.6763 7.65524 15.7438 7.56053 15.79 7.45512C15.8361 7.3497 15.86 7.23586 15.86 7.12078C15.86 7.00569 15.8361 6.89186 15.79 6.78644C15.7438 6.68102 15.6763 6.58631 15.5917 6.50828Z" fill="white"></path>
                            </svg>
                        </span>
                        <p class="text-dark-grey-600 text-base font-medium leading-7">Masažo sesijos trukmė 60-120 minučių</p>
                    </div>
                    <div class="flex flex-row items-center gap-3">
                        <span class="bg-purple-blue-500 flex h-5 w-5 items-center justify-center rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                <path d="M15.5917 6.50828C15.5142 6.43017 15.4221 6.36818 15.3205 6.32587C15.219 6.28356 15.11 6.26178 15 6.26178C14.89 6.26178 14.7811 6.28356 14.6796 6.32587C14.578 6.36818 14.4858 6.43017 14.4084 6.50828L8.20004 12.7249L5.59171 10.1083C5.51127 10.0306 5.41632 9.96948 5.31227 9.92848C5.20823 9.88748 5.09713 9.86737 4.98531 9.8693C4.87349 9.87124 4.76315 9.89518 4.66058 9.93976C4.55802 9.98433 4.46524 10.0487 4.38754 10.1291C4.30984 10.2095 4.24875 10.3045 4.20774 10.4085C4.16674 10.5126 4.14663 10.6237 4.14856 10.7355C4.1505 10.8473 4.17444 10.9577 4.21902 11.0602C4.2636 11.1628 4.32794 11.2556 4.40837 11.3333L7.60837 14.5333C7.68584 14.6114 7.77801 14.6734 7.87956 14.7157C7.98111 14.758 8.09003 14.7798 8.20004 14.7798C8.31005 14.7798 8.41897 14.758 8.52052 14.7157C8.62207 14.6734 8.71424 14.6114 8.79171 14.5333L15.5917 7.73328C15.6763 7.65524 15.7438 7.56053 15.79 7.45512C15.8361 7.3497 15.86 7.23586 15.86 7.12078C15.86 7.00569 15.8361 6.89186 15.79 6.78644C15.7438 6.68102 15.6763 6.58631 15.5917 6.50828Z" fill="white"></path>
                            </svg>
                        </span>
                        <p class="text-dark-grey-600 text-base font-medium leading-7">Prioritetinės rezervacijos VIP klientams</p>
                    </div>
                    <div class="flex flex-row items-center gap-3">
                        <span class="bg-purple-blue-500 flex h-5 w-5 items-center justify-center rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                <path d="M15.5917 6.50828C15.5142 6.43017 15.4221 6.36818 15.3205 6.32587C15.219 6.28356 15.11 6.26178 15 6.26178C14.89 6.26178 14.7811 6.28356 14.6796 6.32587C14.578 6.36818 14.4858 6.43017 14.4084 6.50828L8.20004 12.7249L5.59171 10.1083C5.51127 10.0306 5.41632 9.96948 5.31227 9.92848C5.20823 9.88748 5.09713 9.86737 4.98531 9.8693C4.87349 9.87124 4.76315 9.89518 4.66058 9.93976C4.55802 9.98433 4.46524 10.0487 4.38754 10.1291C4.30984 10.2095 4.24875 10.3045 4.20774 10.4085C4.16674 10.5126 4.14663 10.6237 4.14856 10.7355C4.1505 10.8473 4.17444 10.9577 4.21902 11.0602C4.2636 11.1628 4.32794 11.2556 4.40837 11.3333L7.60837 14.5333C7.68584 14.6114 7.77801 14.6734 7.87956 14.7157C7.98111 14.758 8.09003 14.7798 8.20004 14.7798C8.31005 14.7798 8.41897 14.758 8.52052 14.7157C8.62207 14.6734 8.71424 14.6114 8.79171 14.5333L15.5917 7.73328C15.6763 7.65524 15.7438 7.56053 15.79 7.45512C15.8361 7.3497 15.86 7.23586 15.86 7.12078C15.86 7.00569 15.8361 6.89186 15.79 6.78644C15.7438 6.68102 15.6763 6.58631 15.5917 6.50828Z" fill="white"></path>
                            </svg>
                        </span>
                        <p class="text-dark-grey-600 text-base font-medium leading-7">Reguliarios individualios konsultacijos</p>
                    </div>
                    <div class="flex flex-row items-center gap-3">
                        <span class="bg-purple-blue-500 flex h-5 w-5 items-center justify-center rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                <path d="M15.5917 6.50828C15.5142 6.43017 15.4221 6.36818 15.3205 6.32587C15.219 6.28356 15.11 6.26178 15 6.26178C14.89 6.26178 14.7811 6.28356 14.6796 6.32587C14.578 6.36818 14.4858 6.43017 14.4084 6.50828L8.20004 12.7249L5.59171 10.1083C5.51127 10.0306 5.41632 9.96948 5.31227 9.92848C5.20823 9.88748 5.09713 9.86737 4.98531 9.8693C4.87349 9.87124 4.76315 9.89518 4.66058 9.93976C4.55802 9.98433 4.46524 10.0487 4.38754 10.1291C4.30984 10.2095 4.24875 10.3045 4.20774 10.4085C4.16674 10.5126 4.14663 10.6237 4.14856 10.7355C4.1505 10.8473 4.17444 10.9577 4.21902 11.0602C4.2636 11.1628 4.32794 11.2556 4.40837 11.3333L7.60837 14.5333C7.68584 14.6114 7.77801 14.6734 7.87956 14.7157C7.98111 14.758 8.09003 14.7798 8.20004 14.7798C8.31005 14.7798 8.41897 14.758 8.52052 14.7157C8.62207 14.6734 8.71424 14.6114 8.79171 14.5333L15.5917 7.73328C15.6763 7.65524 15.7438 7.56053 15.79 7.45512C15.8361 7.3497 15.86 7.23586 15.86 7.12078C15.86 7.00569 15.8361 6.89186 15.79 6.78644C15.7438 6.68102 15.6763 6.58631 15.5917 6.50828Z" fill="white"></path>
                            </svg>
                        </span>
                        <p class="text-dark-grey-600 text-base font-medium leading-7">Reguliarios nuoseklios rekomendacijos</p>
                    </div>
                    <div class="flex flex-row items-center gap-3">
                        <span class="bg-purple-blue-500 flex h-5 w-5 items-center justify-center rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                <path d="M15.5917 6.50828C15.5142 6.43017 15.4221 6.36818 15.3205 6.32587C15.219 6.28356 15.11 6.26178 15 6.26178C14.89 6.26178 14.7811 6.28356 14.6796 6.32587C14.578 6.36818 14.4858 6.43017 14.4084 6.50828L8.20004 12.7249L5.59171 10.1083C5.51127 10.0306 5.41632 9.96948 5.31227 9.92848C5.20823 9.88748 5.09713 9.86737 4.98531 9.8693C4.87349 9.87124 4.76315 9.89518 4.66058 9.93976C4.55802 9.98433 4.46524 10.0487 4.38754 10.1291C4.30984 10.2095 4.24875 10.3045 4.20774 10.4085C4.16674 10.5126 4.14663 10.6237 4.14856 10.7355C4.1505 10.8473 4.17444 10.9577 4.21902 11.0602C4.2636 11.1628 4.32794 11.2556 4.40837 11.3333L7.60837 14.5333C7.68584 14.6114 7.77801 14.6734 7.87956 14.7157C7.98111 14.758 8.09003 14.7798 8.20004 14.7798C8.31005 14.7798 8.41897 14.758 8.52052 14.7157C8.62207 14.6734 8.71424 14.6114 8.79171 14.5333L15.5917 7.73328C15.6763 7.65524 15.7438 7.56053 15.79 7.45512C15.8361 7.3497 15.86 7.23586 15.86 7.12078C15.86 7.00569 15.8361 6.89186 15.79 6.78644C15.7438 6.68102 15.6763 6.58631 15.5917 6.50828Z" fill="white"></path>
                            </svg>
                        </span>
                        <p class="text-dark-grey-600 text-base font-medium leading-7">Palaikomas reguliarus masažų poveikis</p>
                    </div>
                    <div class="flex flex-row items-center gap-3">
                        <span class="bg-purple-blue-500 flex h-5 w-5 items-center justify-center rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                <path d="M15.5917 6.50828C15.5142 6.43017 15.4221 6.36818 15.3205 6.32587C15.219 6.28356 15.11 6.26178 15 6.26178C14.89 6.26178 14.7811 6.28356 14.6796 6.32587C14.578 6.36818 14.4858 6.43017 14.4084 6.50828L8.20004 12.7249L5.59171 10.1083C5.51127 10.0306 5.41632 9.96948 5.31227 9.92848C5.20823 9.88748 5.09713 9.86737 4.98531 9.8693C4.87349 9.87124 4.76315 9.89518 4.66058 9.93976C4.55802 9.98433 4.46524 10.0487 4.38754 10.1291C4.30984 10.2095 4.24875 10.3045 4.20774 10.4085C4.16674 10.5126 4.14663 10.6237 4.14856 10.7355C4.1505 10.8473 4.17444 10.9577 4.21902 11.0602C4.2636 11.1628 4.32794 11.2556 4.40837 11.3333L7.60837 14.5333C7.68584 14.6114 7.77801 14.6734 7.87956 14.7157C7.98111 14.758 8.09003 14.7798 8.20004 14.7798C8.31005 14.7798 8.41897 14.758 8.52052 14.7157C8.62207 14.6734 8.71424 14.6114 8.79171 14.5333L15.5917 7.73328C15.6763 7.65524 15.7438 7.56053 15.79 7.45512C15.8361 7.3497 15.86 7.23586 15.86 7.12078C15.86 7.00569 15.8361 6.89186 15.79 6.78644C15.7438 6.68102 15.6763 6.58631 15.5917 6.50828Z" fill="white"></path>
                            </svg>
                        </span>
                        <p class="text-dark-grey-600 text-base font-medium leading-7">Jaučiamas pastovus nuolatinis efektas</p>
                    </div>
                    <div class="flex flex-row items-center gap-3">
                        <span class="bg-purple-blue-500 flex h-5 w-5 items-center justify-center rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                <path d="M15.5917 6.50828C15.5142 6.43017 15.4221 6.36818 15.3205 6.32587C15.219 6.28356 15.11 6.26178 15 6.26178C14.89 6.26178 14.7811 6.28356 14.6796 6.32587C14.578 6.36818 14.4858 6.43017 14.4084 6.50828L8.20004 12.7249L5.59171 10.1083C5.51127 10.0306 5.41632 9.96948 5.31227 9.92848C5.20823 9.88748 5.09713 9.86737 4.98531 9.8693C4.87349 9.87124 4.76315 9.89518 4.66058 9.93976C4.55802 9.98433 4.46524 10.0487 4.38754 10.1291C4.30984 10.2095 4.24875 10.3045 4.20774 10.4085C4.16674 10.5126 4.14663 10.6237 4.14856 10.7355C4.1505 10.8473 4.17444 10.9577 4.21902 11.0602C4.2636 11.1628 4.32794 11.2556 4.40837 11.3333L7.60837 14.5333C7.68584 14.6114 7.77801 14.6734 7.87956 14.7157C7.98111 14.758 8.09003 14.7798 8.20004 14.7798C8.31005 14.7798 8.41897 14.758 8.52052 14.7157C8.62207 14.6734 8.71424 14.6114 8.79171 14.5333L15.5917 7.73328C15.6763 7.65524 15.7438 7.56053 15.79 7.45512C15.8361 7.3497 15.86 7.23586 15.86 7.12078C15.86 7.00569 15.8361 6.89186 15.79 6.78644C15.7438 6.68102 15.6763 6.58631 15.5917 6.50828Z" fill="white"></path>
                            </svg>
                        </span>
                        <p class="text-dark-grey-600 text-base font-medium leading-7">Prioritetinis dėmesys rezultatų sekimui</p>
                    </div>
                    <div class="flex flex-row items-center gap-3">
                        <span class="bg-purple-blue-500 flex h-5 w-5 items-center justify-center rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                <path d="M15.5917 6.50828C15.5142 6.43017 15.4221 6.36818 15.3205 6.32587C15.219 6.28356 15.11 6.26178 15 6.26178C14.89 6.26178 14.7811 6.28356 14.6796 6.32587C14.578 6.36818 14.4858 6.43017 14.4084 6.50828L8.20004 12.7249L5.59171 10.1083C5.51127 10.0306 5.41632 9.96948 5.31227 9.92848C5.20823 9.88748 5.09713 9.86737 4.98531 9.8693C4.87349 9.87124 4.76315 9.89518 4.66058 9.93976C4.55802 9.98433 4.46524 10.0487 4.38754 10.1291C4.30984 10.2095 4.24875 10.3045 4.20774 10.4085C4.16674 10.5126 4.14663 10.6237 4.14856 10.7355C4.1505 10.8473 4.17444 10.9577 4.21902 11.0602C4.2636 11.1628 4.32794 11.2556 4.40837 11.3333L7.60837 14.5333C7.68584 14.6114 7.77801 14.6734 7.87956 14.7157C7.98111 14.758 8.09003 14.7798 8.20004 14.7798C8.31005 14.7798 8.41897 14.758 8.52052 14.7157C8.62207 14.6734 8.71424 14.6114 8.79171 14.5333L15.5917 7.73328C15.6763 7.65524 15.7438 7.56053 15.79 7.45512C15.8361 7.3497 15.86 7.23586 15.86 7.12078C15.86 7.00569 15.8361 6.89186 15.79 6.78644C15.7438 6.68102 15.6763 6.58631 15.5917 6.50828Z" fill="white"></path>
                            </svg>
                        </span>
                        <p class="text-dark-grey-600 text-base font-medium leading-7">Meistras gali atvykti Jūsų adresu</p>
                    </div>
                    <div class="flex flex-row items-center gap-3">
                        <span class="bg-purple-blue-500 flex h-5 w-5 items-center justify-center rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                <path d="M15.5917 6.50828C15.5142 6.43017 15.4221 6.36818 15.3205 6.32587C15.219 6.28356 15.11 6.26178 15 6.26178C14.89 6.26178 14.7811 6.28356 14.6796 6.32587C14.578 6.36818 14.4858 6.43017 14.4084 6.50828L8.20004 12.7249L5.59171 10.1083C5.51127 10.0306 5.41632 9.96948 5.31227 9.92848C5.20823 9.88748 5.09713 9.86737 4.98531 9.8693C4.87349 9.87124 4.76315 9.89518 4.66058 9.93976C4.55802 9.98433 4.46524 10.0487 4.38754 10.1291C4.30984 10.2095 4.24875 10.3045 4.20774 10.4085C4.16674 10.5126 4.14663 10.6237 4.14856 10.7355C4.1505 10.8473 4.17444 10.9577 4.21902 11.0602C4.2636 11.1628 4.32794 11.2556 4.40837 11.3333L7.60837 14.5333C7.68584 14.6114 7.77801 14.6734 7.87956 14.7157C7.98111 14.758 8.09003 14.7798 8.20004 14.7798C8.31005 14.7798 8.41897 14.758 8.52052 14.7157C8.62207 14.6734 8.71424 14.6114 8.79171 14.5333L15.5917 7.73328C15.6763 7.65524 15.7438 7.56053 15.79 7.45512C15.8361 7.3497 15.86 7.23586 15.86 7.12078C15.86 7.00569 15.8361 6.89186 15.79 6.78644C15.7438 6.68102 15.6763 6.58631 15.5917 6.50828Z" fill="white"></path>
                            </svg>
                        </span>
                        <p class="text-dark-grey-600 text-base font-medium leading-7">Meistras gali atvykti į užsienio šalį</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
