<%
    let selfImg = 'https://kizim-lt.b-cdn.net/demenis.lt/t0fktcO8rs0d2SlBoqs2wLc40YJEXW3lld8cdYfS.png';

    if (typeof img !== 'undefined') {
        selfImg = img;
    }
%>

<div class="w-full py-28" id="interviu">
    <div class="container mx-auto flex flex-col lg:items-center gap-16 md:flex-row">
        <div class="rounded-3xl md:flex md:w-5/12 bg-center bg-cover bg-[url('<%= selfImg %>')]">
            <img class="h-full w-full md:hidden lg:block rounded-3xl object-cover object-left-bottom" src="<%= selfImg %>" alt="Deimantas Demenis interviu" />
        </div>
        <div class="flex w-full flex-col items-start justify-center gap-8 md:w-7/12">
            <div class="flex items-center gap-1 self-center md:self-start">
                <span>
                    <img src="https://kizim-lt.b-cdn.net/demenis.lt/x3p5ksZNQLO2ji50Age24eq4JRHtgxwOlwsuzguI.png" />
                </span>
            </div>
            <p class="text-dark-grey-900 text-xl font-serif font-extrabold md:text-start lg:text-2xl"><i>„Visi žinome, kad turime rūpintis savo sveikata, tačiau ar gyvename taip, kad būtume sveiki? Ar rūpinamės savimi, kol mūsų organizmas dar turi pakankamai išteklių? Daugelis apie tai net nepagalvojame. Viena geriausių priemonių kūnui ir sielai yra masažas – sveikatai stiprinti, grožiui palaikyti, senėjimui stabdyti“</i></p>
            <div class="my-4 md:my-0">
                <div class="md:mx-auto flex flex-col md:flex-row md:items-center gap-4 lg:ml-0">
                    <div class="flex flex-col items-start">
                        <h3 class="text-dark-grey-900 font-display text-xl font-bold">Deimantas Demenis</h3>
                        <p class="text-dark-grey-500 text-sm font-medium">25+ metus masažuoja žmones</p>
                    </div>
                    <hr class="hidden md:block border-dark-grey-500 h-7 w-px border-l border-solid" />
                    <span>
                        <img src="https://kizim-lt.b-cdn.net/demenis.lt/oZSyMNLDtR2XQMI5fEJJC29nNdr9JLDCUvBu1a1f.svg" class="h-14 md:h-16 opacity-60" />
                    </span>
                </div>
            </div>
            <div class="flex flex-col items-center gap-6 lg:flex-row">
                <% if (typeof formScreenId !== 'undefined') { %>
                    <a href="#<%= formScreenId %>">
                        <button class="bg-purple-blue-500 hover:bg-purple-blue-600 focus:ring-purple-blue-100 flex items-center rounded-xl px-7 py-4 text-sm font-bold text-white transition duration-300 focus:ring-4">Registruotis masažui</button>
                    </a>
                <% } %>

                <a href="https://www.15min.lt/gyvenimas/naujiena/sveikata/buves-zalgirio-komandos-masazuotojas-apie-masazo-nauda-tai-ne-pramoga-o-sveikata-1028-1217240" target="_blank">
                    <button class="text-dark-grey-700 hover:text-dark-grey-900 flex items-center rounded-2xl text-sm font-medium transition duration-300 underline">
                        <img src="https://kizim-lt.b-cdn.net/demenis.lt/yqt6EYvD2v8UZSOIs4Ef0H0AZNC86hfWxy7Uzym0.png" class="mr-2 h-5 w-5" />
                        Skaityti visą interviu
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
