<div class="relative flex min-h-screen flex-col justify-center overflow-hidden pb-48" id="klientai-ir-atsiliepimai">
    <div class="absolute block h-screen w-screen overflow-hidden">
        <div class="absolute left-4 top-1/4 -z-10 inline-block shrink-0 -translate-y-20 cursor-pointer rounded-full transition-all duration-300 ease-in-out">
            <img alt="Pic" class="inline-block h-[40px] w-[40px] shrink-0 rounded-full object-cover" src="https://kizim-lt.b-cdn.net/demenis.lt/XPlNaHYaDC6bvh1ULAbH5iPsJeAlywg2lhwcoN07.jpg" />
        </div>
        <div class="absolute left-56 top-1/4 -z-10 hidden shrink-0 translate-y-8 cursor-pointer rounded-full transition-all duration-300 ease-in-out md:inline-block">
            <img alt="Pic" class="inline-block h-[65px] w-[65px] shrink-0 rounded-full object-cover" src="https://kizim-lt.b-cdn.net/demenis.lt/9kFww9b0WgUIRfFbFWYVmFzN8pB5cjOXIt6ClgfR.jpg" />
        </div>
        <div class="absolute top-3/4 -z-10 hidden shrink-0 -translate-y-32 translate-x-16 cursor-pointer rounded-full transition-all duration-300 ease-in-out lg:inline-block">
            <img alt="Pic" class="inline-block h-[93px] w-[93px] shrink-0 rounded-full object-cover" src="https://kizim-lt.b-cdn.net/demenis.lt/xUpYtbSRUvBZX8g1FbQ45uyouBxvOVgGjNq3LNEW.jpg" />
        </div>
        <div class="absolute bottom-0 left-60 -z-10 hidden shrink-0 -translate-y-28 cursor-pointer rounded-full transition-all duration-300 ease-in-out lg:inline-block">
            <img alt="Pic" class="inline-block h-[58px] w-[58px] shrink-0 rounded-full object-cover" src="https://kizim-lt.b-cdn.net/demenis.lt/fczpm49cXir7QRAhtjueiDcypOyadc4vjWh0DSvO.jpg" />
        </div>
        <div class="absolute bottom-0 left-8 -z-10 inline-block shrink-0 -translate-y-12 cursor-pointer rounded-full transition-all duration-300 ease-in-out">
            <img alt="Pic" class="inline-block h-[40px] w-[40px] shrink-0 rounded-full object-cover" src="https://kizim-lt.b-cdn.net/demenis.lt/JVxR1BhuvIXy3lJAUOhDPRdtBnd1w2jESqG7Tlq0.jpg" />
        </div>
        <div class="absolute right-6 top-1/4 -z-10 hidden shrink-0 -translate-x-36 -translate-y-20 cursor-pointer rounded-full transition-all duration-300 ease-in-out md:inline-block">
            <img alt="Pic" class="inline-block h-[83px] w-[83px] shrink-0 rounded-full object-cover" src="https://kizim-lt.b-cdn.net/demenis.lt/t2a2BLBN4W9rasTXHwiAKg0EDNaAzv2wFfhkz0SR.jpg" />
        </div>
        <div class="absolute -right-9 top-1/4 -z-10 inline-block shrink-0 translate-y-20 cursor-pointer rounded-full transition-all duration-300 ease-in-out">
            <img alt="Pic" class="inline-block h-[56px] w-[56px] shrink-0 rounded-full object-cover" src="https://kizim-lt.b-cdn.net/demenis.lt/81kEFXqkZkhQKb9dTiPGnp2tX6TAoC69GSzfkIG6.jpg" />
        </div>
        <div class="absolute right-6 top-1/2 -z-10 hidden shrink-0 -translate-x-36 translate-y-2 cursor-pointer rounded-full transition-all duration-300 ease-in-out lg:inline-block">
            <img alt="Pic" class="inline-block h-[72px] w-[72px] shrink-0 rounded-full object-cover" src="https://kizim-lt.b-cdn.net/demenis.lt/hu5VATyYHbaTf3TlpCebMKMpnkVEoBsZkYIYG2Th.jpg" />
        </div>
        <div class="absolute right-6 top-3/4 -z-10 inline-block shrink-0 -translate-x-12 translate-y-2 cursor-pointer rounded-full transition-all duration-300 ease-in-out">
            <img alt="Pic" class="inline-block h-[45px] w-[45px] shrink-0 rounded-full object-cover" src="https://kizim-lt.b-cdn.net/demenis.lt/l9Hkr0YxlL0Ae20mH3kAeGqNZHckdbD9b3qJULTV.webp" />
        </div>
        <div class="absolute bottom-0 right-1/4 -z-10 inline-block shrink-0 -translate-x-12 -translate-y-2 cursor-pointer rounded-full transition-all duration-300 ease-in-out">
            <img alt="Pic" class="inline-block h-[72px] w-[72px] shrink-0 rounded-full object-cover" src="https://kizim-lt.b-cdn.net/demenis.lt/vg6bnP2jVJijbvm6jhuvqEx8YPPgBcSbTv6wcWST.jpg" />
        </div>
    </div>
    <div class="relative z-10 h-full w-full">
        <div class="container z-30 mx-auto my-auto flex flex-col items-center gap-16">
            <div class="flex min-h-[120px] flex-col items-center justify-center gap-10">
                <div class="drop-shadow-main flex flex-row items-center justify-center will-change-auto">
                    <div class="group relative z-0 inline-block shrink-0 cursor-pointer rounded-full border-4 border-solid border-white transition-all duration-300 ease-in-out hover:border-8">
                        <img alt="Pic" class="inline-block h-[65px] w-[65px] shrink-0 rounded-full object-cover object-top transition-all duration-300 will-change-auto" src="https://kizim-lt.b-cdn.net/demenis.lt/2RGv3ujFOlMI2P4tlxrG6dhKVKRnhJ5X1lJMq3Oi.jpg" />
                    </div>
                    <div class="group relative z-10 -ml-5 inline-block shrink-0 cursor-pointer rounded-full border-8 border-solid border-white transition-all duration-300 ease-in-out">
                        <img alt="Pic" class="inline-block h-[95px] w-[95px] shrink-0 rounded-full object-cover transition-all duration-300 will-change-auto" src="https://kizim-lt.b-cdn.net/demenis.lt/A38RRCqXUBkfeEJhvn1wVZVq5Y4PFBSB5z9YefqO.jpg" />
                    </div>
                    <div class="group relative z-0 -ml-5 inline-block shrink-0 cursor-pointer rounded-full border-4 border-solid border-white transition-all duration-300 ease-in-out hover:border-8">
                        <img alt="Pic" class="inline-block h-[65px] w-[65px] shrink-0 rounded-full object-cover transition-all duration-300 will-change-auto" src="https://kizim-lt.b-cdn.net/demenis.lt/k5F4exVFNvUaK6HGUcOZ4p37nwXi1corfXakkSvh.webp" />
                    </div>
                </div>
            </div>
            <div class="flex flex-col items-center gap-y-4 text-center">
                <h2 class="text-dark-grey-900 font-display text-2xl md:text-4xl lg:text-5xl font-extrabold leading-tight max-w-3xl">
                    Išmasažuota jau daugiau nei
                    <span class="text-purple-blue-500"> 5000+</span> žmonių
                </h2>
                <p class="text-grey-700 text-lg font-medium lg:w-3/5">Išmasažuotieji — nuo paprastų iki garsiausių Lietuvos sporto, verslo ir politikos žmonių 🇱🇹</p>
            </div>
            <div class="flex items-center justify-center">
                <a href="#<%= formScreenId %>">
                    <button class="border-purple-blue-500 bg-purple-blue-500 hover:bg-purple-blue-600 focus:ring-purple-blue-100 flex items-center rounded-2xl border px-7 py-4 text-sm font-bold text-white transition duration-300 focus:ring-4">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="mr-2 h-5 w-5">
                            <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z" clip-rule="evenodd"></path>
                        </svg>
                        Registruotis masažui
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
