<?
    let trustItems = [
        {
            icon: 'https://loopple.s3.eu-west-3.amazonaws.com/images/uRiz6OdtLBO8l0FTxObFm5YgnHBz3FoFsC4XDe4V.png',
            title: '100% konfidencialumas',
            description: 'Garantuojame visapusišką Jūsų asmens duomenų apsaugą ir konfidenciulumą pagal visus BDAR reglamento reikalavimus',
        },
        {
            icon: 'https://loopple.s3.eu-west-3.amazonaws.com/images/b9nAKSad4QkEvHiTZNj0prL8GQrokwWB59C4uyLD.png',
            title: 'Kokybės garantija',
            description: 'a) Deimantas Demenis suteikia 100% pinigų grąžinimo garantiją, jei masažas nepatiks b) niekas nei karto dar nesinaudojo šia garantija',
        },
        {
            icon: 'https://loopple.s3.eu-west-3.amazonaws.com/images/GHZ6xmAdD2097GH03rjyUdtfX3MBcFtBElHu7Bdg.png',
            title: 'Pagarba ir etika',
            description: 'Pagarba ir profesionalus meistro dėmesys garantuojami kiekvienam žmogui nepriklausomai nuo jo socialinės padėties',
        },
    ];
?>

<div class="mx-auto py-28 lg:container">
    <div class="flex flex-col items-center justify-center">
        <div class="grid grid-cols-1 gap-16 px-5 lg:grid-cols-3">
            <? trustItems.forEach(function(item, index){ ?>
                <div class="col-span-1 flex flex-col items-center gap-4">
                    <div>
                        <div class="bg-purple-blue-500 flex h-16 w-16 items-center justify-center rounded-2xl">
                            <img src="<?- item.icon ?>" alt="<?- item.title ?>" width="32" height="32" />
                        </div>
                    </div>
                    <div class="flex flex-col gap-2 px-2 text-center">
                        <h4 class="text-dark-grey-900 font-display text-2xl font-extrabold"><?- item.title ?></h4>
                        <p class="text-grey-700 font-medium"><?- item.description ?></p>
                    </div>
                </div>
            <? }); ?>
        </div>
    </div>
</div>
